In [1]:
import pandas as pd 
df = pd.read_csv(r'C:\Users\Souvik\Desktop\DA Projects\netflix_titles.csv')

In [2]:
from sqlalchemy import create_engine
!pip install psycopg2-binary
engine = create_engine(f"postgresql+psycopg2://postgres:Souvik@localhost:5432/Datasd")
connection = engine.connect()

Requirement already satisfied: psycopg2-binary in c:\users\souvik\appdata\local\programs\python\python312\lib\site-packages (2.9.9)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
engine = create_engine(f"postgresql+psycopg2://postgres:Souvik@localhost:5432/Datasd")
connection = engine.connect()

In [4]:
conn = engine.connect()

In [5]:
df.to_sql('netflix_raw_updated', con=engine , index=False, if_exists = 'append')

807

In [6]:
len(df)

8807

In [7]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [9]:
max(df.show_id.str.len())

5

In [10]:
max(df.type.str.len())

7

In [11]:
max(df.title.str.len())

104

In [12]:
max(df.director.str.len())

208.0

In [16]:
max(df.cast.dropna().str.len())

771

In [17]:
max(df.country.str.len())

123.0

In [18]:
max(df.date_added.str.len())

19.0

In [20]:
max(df.rating.str.len())

8.0

In [21]:
max(df.listed_in.str.len())

79

In [22]:
max(df.description.str.len())

248

In [ ]:
df.isna().sum()